[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple C++ applications
[access "refs/*"]
	owner = group user/TarasBarninets
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TarasBarninets
	label-Verified = -1..+1 group user/TarasBarninets
	push = group user/TarasBarninets
	read = group user/TarasBarninets
	rebase = group user/TarasBarninets
	removeReviewer = group user/TarasBarninets
	submit = group user/TarasBarninets
[access "refs/heads/*"]
	create = group user/TarasBarninets
	push = +force group user/TarasBarninets
	pushMerge = group user/TarasBarninets
	read = group user/TarasBarninets
[access "refs/tags/*"]
	push = group user/TarasBarninets
	push = +force group user/TarasBarninets
